/* CSS 程式碼 */

.orange {
    color: orange;
    background-color: black;
}

.blue {
    color: blue;
    background-color: orange;
}

.red {
    color: red;
    background-color: blue;
}

.yellow {
    color: yellow;
    background-color: red;
}

.green {
    color: green;
    background-color: yellow;
}